html
{
height:100%;
width:100%;
}

body
{
height:100%;
width:100%;
}
#header
{
position:relative;
height:40%;
top:0px;left:0px;
width:100%;

background: #C0C0C0;
color:white;
}

#centerdiv
{
position:relative;
height:200%;
top:0%;left:0px;
width:100%;

}
#footer
{
position:relative;
height:90%;
top:0%;left:0px;
width:100%;

background: #C0C0C0;
overflow:hidden;
}

#menudiv
{
position:relative;
height:25%;
top:75%;left:7.5%;
width:85%;

background: black;
color:"white";
text-align:"center";
font-size:50px;
}

#imagediv
{
position:relative;
height:27%;
top:0%;left:7.5%;
width:85%;
}

#fourdivcontainer
{
position:relative;
height:20%;
top:02%;left:7.5%;
width:85%;
  	
float:left;
overflow:hidden;
}

#divi1
{position:relative;
height:90%;
top:0%;left:1%;
width:21%;
float:left;overflow:hidden;
}
#divi2
{
position:relative;
height:90%;
top:0%;left:3%;
width:21%;
  float:left;overflow:hidden;
}
#divi3
{
position:relative;
height:90%;
top:0%;left:5%;
width:21%;
  float:left;overflow:hidden;
}
#divi4
{
position:relative;
height:90%;
top:0%;left:7%;
width:21%;
  
float:left;overflow:hidden;
}

#contentmaterial
{
position:relative;
height:50%;
top:10%;left:7.5%;
width:85%;

float:left;
overflow:hidden;
}

#lsidebar
{
position:relative;
height:100%;
top:05%;left:2%;
width:23%;

float:left;
}
#centerbar
{
position:relative;
height:100%;
top:05%;left:3%;
width:47%;

float:left;
text-align:justify;
}
#rsidebar
{
position:relative;
height:100%;
top:05%;left:4%;
width:23%;

float:left;
margin-left:3px;
font-size:20px;
}

#ldiv1
{position:relative;
height:75%;
top:0%;left:2%;
width:22%;
 
float:left;overflow:hidden;
}
#ldiv2
{
position:relative;
height:75%;
top:0%;left:4%;
width:22%;
 
float:left;overflow:hidden;
}
#ldiv3{
position:relative;
height:75%;
top:0%;left:6%;
width:22%;
 
float:left;overflow:hidden;
}
#ldiv4{
position:relative;
height:75%;
top:0%;left:8%;
width:22%;
 
float:left;overflow:hidden;
}

.fourdiv
{
padding:0px 20px 20px 5px;
color:white;
background:#585858;
}

.detail
{
top:95%
bottom:5%;
}
.smallfont
{font-size:18px;}

table
{
cellpadding=200px;
color:white;font-size:20px;
}
td{
width:180px; 
text-align:"center";
padding:10px;
padding-top:23px;
}

#headerdivi
{
position:relative;
height:15%;
top:0%;left:0%;
width:110%;
text-align:center;

float:left;
background:black;
padding-top:3px;
}

#fixedwrapper
{
position:absolute;
height:700px;
top:0%;left:0%;
width:1500px;
}
#contentimg
{
position:relative;
height:50%;
top:0%;left:0.5%;
width:99%;

}
#undrln
{
position:relative;
height:5%;
top:95%;left:0.5%;
width:99%;
}
#forbutton
{
width:200px; height:30px;
text-align:"center";
padding-top:03px;
background: green;
color:white;
}
.normtxt
{font-size:15px;}